<!DOCTYPE html>
<html>
  <head>
    <title>KerWater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>

  <body>
    <div>
      <% if current_user %>
        <a class="control"> <%= link_to 'Sign Out', '/signout', class: "button is-primary is-inverted" %></a>
    </div>
      <% else %>
    <%= render "shared/navbar" %>
      <% end %>
    <%= yield %>
  </body>
</html>
